body {
    margin: 0;
    padding: 0;

    font-family: "Pt Sans Narrow", Arial, sans-serif;
    font-size: 14;
    font-weight: 700;
    color: #ffffff;
    line-height: 24px;
    text-transform: uppercase;

    background-color: blue;
    background-image: url("img/background: .jpg;");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.main-navigation {
    background-color: #000000;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #000000;
}

.site-navigation,
.user-navigation {
    list-style: none;
}\

.site-navigation a,
.user-navigation a; {
    color: #ffffff;
}

.site-navigation a:hover;
.site-navigation a:focus;
.user-navigation a: hover;
.user-navigation a:focus; {
    background-color: #242424;
}

.feuchers-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin: 0;
    padding: 0;
}

.feuchers-item {
    text-align: center;
    width: 300px;
}

.feuchers-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.news-gallery {
    background-color: #f7f4f1;
    background-image: url("D:/Сайты/Project_Barbershop/img/bg-forbloks.jpg");
    background-repeat: repeat;
    background-position: 0 0;
      display: flex;
      justify-content: space-between;
      padding: 50px 80px;
      margin-bottom: 35px;
}

.news {
width: 350px;
border: 1px solid black;

}



.gallery {
    width: 300px;
    /* text-align: left; */
    border: 1px solid black;
    /* padding-bottom: 0px; */
}
.news,
.gallery {
    color: #000000;
}
.news h2,
.gallery h2,
.contact h2,
.appointment h2 {
    font-size: 30px;
    line-height: 42px

}
.news-list {
    list-style: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.news-list .button {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
    text-align: center;
}
.news-item,
.news-list .button {
    margin-left: -40px;
}

.news-item time {
    text-transform: none;
    font-weight: normal;
    font-style: italic;
}

.news-item p {
margin-bottom: 5px;
}
.gallery-content {
    /* background-color: #cccccc; */
    /* border: 7px solid #ffffff; */
    margin-left: 0px;
    width: 100%;
}

.gallery-content img {
    background-color: #cccccc;
    border: 7px solid #ffffff;
    margin-left: 0px;
    margin-bottom: 35px;
}

.contact-appointment {
    background-color: #f7f4f1;
    background-image: url("D:/Сайты/Project_Barbershop/img/bg-forbloks.jpg");
    background-repeat: repeat;
    background-position: 0 0;
    color: #000000;
}

.appointment-item input {
    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border-color: #5d4b39;
}

.main-foooter {
    background-color: #232323
    background-image: url("D:/Сайты/Project_Barbershop/img/bg-footer.jpg");
    background-repeat: repeat;
    background-position: 0 0;
}

.main-navigation-wrapper .container {
    display: flex;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.main-navigation-wrapper .container .site-navigation {
    width: 540px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.site-navigation li {
    min-width: 100px;
}
.user-navigation {
    width: 400px;
    text-align: right;
}

.visually-hidden {
    display: none;
}


/* buttons and forms*/

.button {
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 140px;
    border: 0px;
}

.button-back {
    float: left;
}

.button-next {
    float: right;

}
/* .button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
} */
